@media screen and (min-width:320px)
	header
		h1
			font-size 1.5em

@media screen and (min-width:480px)
	.main.resultados
		.row
			text-align left

			.result-wrapper
				.thumbnail
					line-height auto

					img
						height 77px
						
			
@media screen and (min-width:600px)
	.main
		.baterias-wrapper,
		.filter-wrapper
			width 50%

		.baterias-wrapper
			.baterias
				margin-top 9em

@media screen and (min-width:768px)
	.main.resultados
		.row
			width 50%
			float left
			border 0

			.result-wrapper
				padding 0 20px
				padding-bottom 1.2em
